In [1]:
import numpy as np
import pandas as pd

In [6]:
# read data
test = pd.read_csv('data/raw/test.csv', encoding='latin-1')

In [9]:
# seed
np.random.seed(1984)

In [10]:
test.sample(5)

,id,keyword,location,text
1992,6715,lava,"New York, NY",Watch Steaks Being Grilled Over Molten Hot Lav...
1097,3614,desolation,LanÃÂ¼s,I want to be free from desolation and despair
3124,10356,weapons,NaN,Aug 3 1915ÂÃÃKILL 10000 WITH ROCKS.; Italia...
982,3250,deluged,Austin,deluged dismay so\nsoon surrendered summer dro...
153,507,army,New York,SHARK ARMY Black Date Stainless Steel Quartz M...

There are weird characters in data. We will use function `remove_bad_characters` to remove them.

### Missing values by column

In [11]:
print(test.isna().sum()); print(test.isna().mean())

id             0
keyword       26
location    1105
text           0
dtype: int64
id          0.000000
keyword     0.007968
location    0.338645
text        0.000000
dtype: float64

### Value counts by column

In [13]:
print(test.nunique()); print('\ntotal row number is:', test.shape[0])

id          3263
keyword      221
location    1602
text        3243
dtype: int64

total row number is: 3263

In [14]:
print(test['keyword'].value_counts()[:20])

deluged               23
demolished            22
rubble                22
sirens                21
first%20responders    21
annihilation          21
seismic               21
snowstorm             21
obliteration          21
bioterrorism          20
survivors             20
mayhem                20
catastrophic          20
dead                  20
avalanche             20
wild%20fires          19
obliterated           19
suicide%20bomber      19
crushed               19
obliterate            19
Name: keyword, dtype: int64

### Value counts in target

In [27]:
print(train['target'].value_counts(normalize=True))

0    0.57034
1    0.42966
Name: target, dtype: float64