In [3]:
import numpy as np
import pandas as pd

In [4]:
# read data
train = pd.read_csv('data/raw/train.csv')

In [5]:
# seed
np.random.seed(1984)

In [20]:
train.sample(5)

,id,keyword,location,text,target
2733,3926,devastated,NaN,@MikeParrActor has confirmed on his twitter sa...,0
702,1010,blazing,Suitland,@OfficialTJonez Your 'Lost For Words' made me ...,0
672,971,blaze,Mo.City,The mixtape is coming i promise. We goin in ri...,0
4956,7063,meltdown,#partsunknown,THE GLOBAL ECONOMIC MELTDOWN is out! http://t....,1
1305,1886,burning,NaN,@JohnsonTionne except idk them?? it's really b...,0

### Missing values by column

In [18]:
print(train.isna().sum()); print(train.isna().mean())

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64
id          0.000000
keyword     0.008013
location    0.332720
text        0.000000
target      0.000000
dtype: float64

### Value counts by column

In [23]:
print(train.nunique()); print('\ntotal row number is:', train.shape[0])

id          7613
keyword      221
location    3341
text        7503
target         2
dtype: int64

total row number is: 7613

In [26]:
print(train['keyword'].value_counts()[:20])

fatalities     45
armageddon     42
deluge         42
harm           41
damage         41
sinking        41
body%20bags    41
fear           40
siren          40
collided       40
windstorm      40
outbreak       40
twister        40
evacuate       40
weapons        39
wrecked        39
famine         39
whirlwind      39
flames         39
explosion      39
Name: keyword, dtype: int64

### Value counts in target

In [28]:
print(train['target'].value_counts(normalize=True))

0    0.57034
1    0.42966
Name: target, dtype: float64